* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
}
@media (max-width:576px) {
    .container {
        background: red;
    }
}
@media (min-width:768px) {
    .container {
        background: blue;
    }
}